## EXPORT MAIN sss FUNCTION
exportMethods(sss)

## EXPORT MODEL CONSTRUCTORS
exportMethods(
  LinearModel,
  BinaryModel,
  SurvivalModel
)

## EXPORT CLASSES
exportClasses(
  sssModel,
  sssLinearModel,
  sssBinaryModel,
  sssSurvivalModel,
  sssResult,
  sssLinearResult,
  sssBinaryResult,
  sssSurvivalResult
)
