## IMPORT METHODS
importFrom(stats, predict)

## EXPORT MAIN sss FUNCTION
exportMethods(
  sss,
  predict
)

## EXPORT CLASSES
exportClasses(
  sssModel,
  sssLinearModel,
  sssBinaryModel,
  sssSurvivalModel,
  sssResult,
  sssLinearResult,
  sssBinaryResult,
  sssSurvivalResult
)

